$todo-gray: #9a9a91;

.form {

  label {
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-top: 16px;
    margin-bottom: 4px;
  }
  input {
    width: 100%;
    border: none;
    padding: .75rem 1rem;
    border-radius: 10px;

    &:focus {
      outline: none;
    }
  }
  button {
    padding: .75rem 48px;
  }
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding-top: .75rem; padding-bottom: .75rem;
}
.btn-dark {
  background: $dark;
  color: $white;
  font-weight: 700;

  &:hover {
    background-color: lighten($dark, $amount: 15);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');

.logo h1 {
  font-size: 2rem;
  font-family: 'Baloo Thambi 2';
}
nav .logo h1 {
  font-size: 1.5rem;
}
nav .logo img {
  width: 33.42px;
  height: 28.3px;
}

.navbar {
  padding: 1rem 2rem;
}

.bg-main {
  background-image: linear-gradient(172.7deg, #FFD370 5.12%, #FFD370 53.33%, #FFD370 53.44%, #FFFFFF 53.45%, #FFFFFF 94.32%);
}

.todo-container {
  margin-top: 35px;
  width: 82.9%;
  max-width: 500px;
}
.todo-input-group {
  background-color: $white;
  border-radius: 10px;
  padding-right: .25rem;
}
.todo-body {
  background-color: $white;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  font-size: 14px;
  overflow: hidden;
}
.todo-tabs button {
  color: $todo-gray;
  border-radius: 0%;
  border-bottom: 2px solid #EFEFEF;

  &:active,
  &.active,
  &:focus {
    color: $dark;
    border-bottom: 2px solid $dark;
  }
}
.todo-items-list {
  padding-top: 6px;
  padding-bottom: 1.5rem;
  padding-left: 1.5rem;
  padding-right: 1rem;
}
.todo-item {
  margin-bottom: 2px;
}
.todo-item > div {
  width: 100%;
  border-bottom: 1px solid #E5E5E5;
  padding: 15px 0;
}
.todo-item > button {
  visibility: hidden;
}
.todo-item:hover > button{
  visibility: visible;
}
@mixin todoActin {
  transition: all .2s linear;
}
.todo-item span {
  @include todoActin;

  &.done {
    text-decoration: line-through;
    color: $todo-gray;
  }
}
.btn-check {
  padding: 0;
  width: 20px; height: 20px;
  border: 1px #9f9a91 solid;
  border-radius: 5px;
  @include todoActin;

  &.done {
    border: none;
    background-image: url('../images/check_icon.svg');
    background-position: center center;
    background-repeat: no-repeat;
  }

  &:hover:not(.done) {
    border: none;
    background: $primary;
  }
}
.todo-footer {
  padding: 0 3rem 2rem 1.5rem;
}
.todo-footer button {
  color: $todo-gray;

  &:hover {
    color: $dark;
  }
}

.no-todo {
  margin-top: 60px;
}