.form {
  max-width: 304px;

  label {
    font-size: .875rem;
    font-weight: 700;
    line-height: 1.25rem;
    margin-top: 16px;
    margin-bottom: 4px;
  }
  input {
    width: 100%;
    border: none;
    padding: .75rem 1rem;
    border-radius: 10px;
  }
  button {
    padding: .75rem 48px;
    margin-top: 24px;
  }
}

.btn {
  background-color: transparent;
  border: none;
  border-radius: 10px;
  padding-top: .75rem; padding-bottom: .75rem;
}
.btn-dark {
  background: $dark;
  color: $white;
  font-weight: 700;

  &:hover {
    background-color: lighten($dark, $amount: 15);
  }
}

@import url('https://fonts.googleapis.com/css2?family=Baloo+Thambi+2:wght@700&display=swap');

.logo h1 {
  font-size: 2rem;
  font-family: 'Baloo Thambi 2';
}

nav .logo h1 {
  font-size: 1.5rem;
}